// Block Export

@use "/assets/scss/variable/variable" as v;

.breadcrumbs {
    padding: 10px 20px;

    @include v.respond-to(xl){
        padding: 20px 0;
    }

    ul{
        list-style-type: none;
        display: flex;
        gap: 10px;
        align-items: center;

        li{
            color: v.$black;

            &::after{
                content: ">";
                margin-left: 10px;
            }

            &:last-child::after{
                content: "";
            }
        }
    }
}