// Gallery block styles

@use "/assets/scss/variable/variable" as v;

.gallery{
    position: relative;
        width: 100%;
        padding-bottom: 40px;

        .swiper-wrapper {
          align-items: center;
        }

        .swiper-slide {
          width: 75%;
          transition: transform 0.4s ease, opacity 0.4s ease;
          border-radius: 16px;
          overflow: hidden;

          @include v.respond-to(md) {
            width: 60%;
          }

          @include v.respond-to(xl) {
            width: 50%;
          }
        }

        &__item {
          width: 100%;

          img {
            width: 100%;
            height: auto;
            display: block;
            aspect-ratio: 16 / 10;
            object-fit: cover;
            border-radius: 16px;
          }

          video {
            width: 100%;
            height: auto;
            display: block;
            aspect-ratio: 16 / 10;
            object-fit: cover;
            border-radius: 16px;
          }

          &__video {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            border-radius: 16px;
            overflow: hidden;

            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: 0;
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          color: v.$black;
          padding: 12px;
          background-color: v.$white;
          border-radius: 10px;
        }

        .swiper-pagination {
          bottom: 0;

          .swiper-pagination-bullet {
            background: v.$black;
            opacity: 0.3;

            &-active {
              opacity: 1;
            }
          }
        }
}