// Hero Block

@use "/assets/scss/variable/variable" as v;

.hero{
    width: 100%;
    height: auto;
    padding: 20px 20px 40px 20px;

    @include v.respond-to(xl){
        padding: 20px 0 40px 0;
    }

    &__wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include v.respond-to(xl){
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
        }

        &__content{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include v.respond-to(xl){
                width: 50%;
                gap: 30px;
            }

            &__title{
                color: v.$black;
                font-size: clamp(26px, 22px + 2vw, 48px);
                font-weight: 700;
                max-width: 90%;
            }
            &__text{
                color: v.$dark-gray;
                font-size: clamp(16px, 12px + 1vw, 18px);

                @include v.respond-to(xl){
                    max-width: 80%;
                }
            }
        }

        &__image{
            width: 100%;
            position: relative;
            padding: 30px;

            @include v.respond-to(xl){
                width: 40%;
            }

            img{
                position: relative;
                aspect-ratio: 6 / 5;
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 10px;
                z-index: 1;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

                @include v.respond-to(md){
                    aspect-ratio: 3 / 2;
                }
            }

            span{
                display: block;
                position: absolute;
                z-index: 0;
                width: 50%;
                aspect-ratio: 1;
                border-radius: 10px;
                background-color: gray;

                &:first-child{
                    top: 0;
                    left: 0;
                }
                &:last-child{
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}

.theme-blue {
  .hero{
    &__wrap{
        &__content{
            &__cta{
                color: v.$viola-300;
                border-color: v.$viola-300;

                @include v.respond-to(xl){
                    &:hover{
                        color: v.$white;
                        background-color: v.$blue-300;
                    }
                }
            }
        }
        &__image{
            span{
                background-color: v.$blue-300;
            }
        }
    }
  }
}

.theme-fucsia {
  .hero{
    &__wrap{
        &__content{
            &__cta{
                color: v.$fucsia-300;
                border-color: v.$fucsia-300;

                @include v.respond-to(xl){
                    &:hover{
                        color: v.$white;
                        background-color: v.$fucsia-300;
                    }
                }
            }
        }
        &__image{
            span{
                background-color: v.$fucsia-300;
            }
        }
    }
  }
}

.theme-verde {
  .hero{
    &__wrap{
        &__content{
            &__cta{
                color: v.$verde-300;
                border-color: v.$verde-300;

                @include v.respond-to(xl){
                    &:hover{
                        color: v.$white;
                        background-color: v.$verde-300;
                    }
                }
            }
        }
        &__image{
            span{
                background-color: v.$verde-300;
            }
        }
    }
  }
}

.theme-giallo {
  .hero{
    &__wrap{
        &__content{
            &__cta{
                color: v.$giallo-300;
                border-color: v.$giallo-300;

                @include v.respond-to(xl){
                    &:hover{
                        color: v.$white;
                        background-color: v.$giallo-300;
                    }
                }
            }
        }
        &__image{
            span{
                background-color: v.$giallo-300;
            }
        }
    }
  }
}

.theme-azzurro {
  .hero{
    &__wrap{
        &__content{
            &__cta{
                color: v.$azzurro-300;
                border-color: v.$azzurro-300;

                @include v.respond-to(xl){
                    &:hover{
                        color: v.$white;
                        background-color: v.$azzurro-300;
                    }
                }
            }
        }
        &__image{
            span{
                background-color: v.$azzurro-300;
            }
        }
    }
  }
}