// about Page Styles

@use "/assets/scss/variable/variable" as v;

.about{
    width: 100%;
    height: auto;
    padding: 90px 0;

    @include v.respond-to(xl){
        padding: 110px 0;
    }
    @include v.respond-to(xxl){
        padding: 120px 0;
    }
}