// about Page Styles

@use "/assets/scss/variable/variable" as v;

.about {
  width: 100%;
  height: auto;
  padding: 90px 0;

  @include v.respond-to(xl) {
    padding: 110px 0;
  }
  @include v.respond-to(xxl) {
    padding: 120px 0;
  }

  .valori {
    width: 100%;
    padding: 60px 20px;

    @include v.respond-to(xl) {
      padding: 90px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @include v.respond-to(xl) {
        gap: 50px;
      }

      &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include v.respond-to(xl) {
          gap: 30px;
        }

        &__title {
          color: v.$black;
          font-size: clamp(24px, 16px + 2vw, 36px);
          font-weight: 700;
        }
        &__text {
          color: v.$black;
          font-size: clamp(14px, 10px + 1vw, 18px);
          text-align: center;
          max-width: 90%;

          @include v.respond-to(lg) {
            max-width: 70%;
          }
          @include v.respond-to(xl) {
            max-width: 60%;
          }
        }
      }

      &__repeater {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @include v.respond-to(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include v.respond-to(xl) {
          grid-template-columns: repeat(3, 1fr);
        }

        &__item {
          position: relative;
          width: 100%;
          aspect-ratio: 16/9;
          border-radius: 12px;
          overflow: hidden;
          background-color: v.$verde-300;

          img {
            position: absolute;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.8);
            transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

            @include v.respond-to(xl) {
              opacity: 1;
            }
          }

          &__content {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 20px;
            display: flex;
            align-items: end;

            &__title {
              position: absolute;
              top: 20px;
              left: 20px;
              transform: none;
              color: v.$black;
              font-size: clamp(18px, 14px + 1vw, 24px);
              font-weight: 600;
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

              @include v.respond-to(xl) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: v.$white;
                font-size: clamp(24px, 18px + 2vw, 36px);
              }
            }
            &__text {
              opacity: 1;
              color: v.$black;
              font-size: clamp(14px, 10px + 1vw, 18px);
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

              @include v.respond-to(xl) {
                opacity: 0;
              }
            }
          }

          @include v.respond-to(xl) {
            &:hover {
              img {
                opacity: 0;
              }
              .valori__wrap__repeater__item__content {
                &__title {
                  top: 20px;
                  left: 20px;
                  transform: none;
                  color: v.$black;
                  font-size: clamp(18px, 14px + 1vw, 24px);
                }
                &__text {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .mission {
    width: 100%;
    padding: 70px 20px;
    background-color: v.$verde-200;

    @include v.respond-to(xl) {
      padding: 140px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @include v.respond-to(xl) {
        gap: 40px;
      }

      &__title {
        color: v.$black;
        font-size: clamp(24px, 16px + 2vw, 36px);
        font-weight: 700;
      }
      &__text {
        color: v.$black;
        font-size: clamp(14px, 10px + 1vw, 18px);
        text-align: center;
        max-width: 90%;

        @include v.respond-to(lg) {
          max-width: 70%;
        }
        @include v.respond-to(xl) {
          max-width: 60%;
        }
      }
    }
  }

  .principi {
    width: 100%;
    padding: 60px 20px;

    @include v.respond-to(xl) {
      padding: 90px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @include v.respond-to(xl) {
        gap: 50px;
      }

      &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include v.respond-to(xl) {
          gap: 30px;
        }

        &__title {
          color: v.$black;
          font-size: clamp(24px, 16px + 2vw, 36px);
          font-weight: 700;
        }
        &__text {
          color: v.$black;
          font-size: clamp(14px, 10px + 1vw, 18px);
          text-align: center;
          max-width: 90%;

          @include v.respond-to(lg) {
            max-width: 70%;
          }
          @include v.respond-to(xl) {
            max-width: 60%;
          }
        }
      }

      &__repeater {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @include v.respond-to(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include v.respond-to(xl) {
          grid-template-columns: repeat(3, 1fr);
        }

        &__item {
          position: relative;
          width: 100%;
          aspect-ratio: 16/9;
          border-radius: 12px;
          overflow: hidden;
          background-color: #537f62;
          transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

          @include v.respond-to(xl) {
            background-color: v.$verde-300;
          }

          &__content {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 20px;
            display: flex;
            align-items: end;

            &__title {
              position: absolute;
              top: 20px;
              left: 20px;
              transform: none;
              color: v.$white;
              font-size: clamp(18px, 14px + 1vw, 24px);
              font-weight: 600;
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

              @include v.respond-to(xl) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: clamp(24px, 18px + 2vw, 36px);
              }
            }
            &__text {
              opacity: 1;
              color: v.$white;
              font-size: clamp(14px, 10px + 1vw, 18px);
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

              @include v.respond-to(xl) {
                opacity: 0;
              }
            }
          }

          @include v.respond-to(xl) {
            &:hover {
              background-color: #537f62;
              .principi__wrap__repeater__item__content {
                &__title {
                  top: 20px;
                  left: 20px;
                  transform: none;
                  font-size: clamp(18px, 14px + 1vw, 24px);
                }
                &__text {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .obiettivi {
    width: 100%;
    padding: 60px 20px;
    background-color: v.$verde-100;

    @include v.respond-to(xl) {
      padding: 90px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @include v.respond-to(xl) {
        gap: 70px;
      }

      &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include v.respond-to(xl) {
          gap: 30px;
        }

        &__title {
          color: v.$black;
          font-size: clamp(24px, 16px + 2vw, 36px);
          font-weight: 700;
        }
        &__text {
          color: v.$black;
          font-size: clamp(14px, 10px + 1vw, 18px);
          text-align: center;
          max-width: 90%;

          @include v.respond-to(lg) {
            max-width: 70%;
          }
          @include v.respond-to(xl) {
            max-width: 60%;
          }
        }
      }

      &__repeater {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @include v.respond-to(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include v.respond-to(xl) {
          grid-template-columns: repeat(3, 1fr);
        }

        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px;
          aspect-ratio: 16 / 9;
          background-color: v.$verde-200;
          border-radius: 12px;

          &:nth-child(5) {
            background-color: v.$verde-300;
          }

        &__text{
            color: v.$black;
            font-size: clamp(14px, 10px + 1vw, 18px);
            text-align: center;

            strong{
                font-weight: 800;
            }
        }
        }
      }
    }
  }
}
