// Front Page Styles

@use "/assets/scss/variable/variable" as v;

.front-page {
  width: 100%;
  height: auto;
  padding: 90px 0;

  @include v.respond-to(xl) {
    padding: 110px 0;
  }
  @include v.respond-to(xxl) {
    padding: 120px 0;
  }

  .hero {
    &__wrap {
      &__content {
        &__title {
          color: v.$blue-300;
        }
      }
    }
  }

  .progetti-block {
    width: 100%;
    padding: 40px 20px;
    background-color: v.$blue-200;

    @include v.respond-to(xl) {
      padding: 70px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__title {
          color: v.$black;
          font-size: clamp(24px, 16px + 2vw, 36px);
          font-weight: 700;
        }

        &__cta {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          color: v.$black;
          font-size: clamp(12px, 8px + 1vw, 16px);
          font-weight: 500;
          transition: all .6s cubic-bezier(.215, .61, .355, 1);

          &:after {
            content: ">";
            display: block;
          }

          @include v.respond-to(xl) {
            &:hover {
              opacity: 0.6;
            }
          }
        }

        .spacer {
          display: none;

          @include v.respond-to(xl) {
            display: block;
          }

          .progetti-block__wrap__intro__cta {
            display: none;
            visibility: hidden;
            opacity: 0;

            @include v.respond-to(xl) {
              display: block;
            }
          }
        }
      }
      &__slider {
        padding: 20px 0;
        position: relative;

        @include v.respond-to(xl) {
          padding: 30px 0;
        }

        ul {
          .progetti-item {
            &__link {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;

              &__image {
                width: 100%;
                aspect-ratio: 5 / 6;
                overflow: hidden;
                border-radius: 12px;

                img {
                  width: 100%;
                  min-height: 100%;
                  object-fit: cover;
                  transition: transform 0.3s ease;
                }
              }
              &__title {
                padding: 10px;
                text-align: center;
                color: v.$black;
                font-size: clamp(14px, 10px + 1vw, 16px);
                font-weight: 600;
              }

              @include v.respond-to(xl) {
                &:hover {
                  .progetti-item__link__image {
                    img {
                      transform: scale(1.05);
                    }
                  }
                }
              }
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          color: v.$black;
          padding: 12px;
          background-color: v.$blue-200;
          border-radius: 10px;
        }
      }
    }
  }

  .collaborazioni-block {
    width: 100%;
    padding: 40px 20px;

    @include v.respond-to(xl) {
      padding: 70px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__intro {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__title {
          color: v.$black;
          font-size: clamp(24px, 16px + 2vw, 36px);
          font-weight: 700;
        }
      }
      &__repeater {
        padding: 20px 0 40px 0;
        position: relative;

        @include v.respond-to(xl) {
          padding: 30px 0 50px 0;
        }

        ul {
          .collab-item {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__link {
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

              @include v.respond-to(xl) {
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          color: v.$black;
          padding: 12px;
          background-color: v.$white;
          border-radius: 10px;
        }

        .swiper-pagination{
          top: auto;
          bottom: 0;
        }
      }
    }
  }

  .news-block {
    width: 100%;
    padding: 40px 20px;
    background-color: v.$blue-200;

    @include v.respond-to(xl) {
      padding: 70px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__title {
          color: v.$black;
          font-size: clamp(24px, 16px + 2vw, 36px);
          font-weight: 700;
        }

        &__cta {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          color: v.$black;
          font-size: clamp(12px, 8px + 1vw, 16px);
          font-weight: 500;
          transition: all .6s cubic-bezier(.215, .61, .355, 1);

          &:after {
            content: ">";
            display: block;
          }

          @include v.respond-to(xl) {
            &:hover {
              opacity: 0.6;
            }
          }
        }

        .spacer {
          display: none;

          @include v.respond-to(xl) {
            display: block;
          }

          .news-block__wrap__intro__cta {
            display: none;
            visibility: hidden;
            opacity: 0;

            @include v.respond-to(xl) {
              display: block;
            }
          }
        }
      }
      &__loop {
        padding: 20px 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        @include v.respond-to(md) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include v.respond-to(xl) {
          padding: 30px 0;
          grid-template-columns: repeat(4, 1fr);
        }

        &__item{
          &__link{
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__image{
              aspect-ratio: 4 / 3;
              border-radius: 12px;
              overflow: hidden;

              img{
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: all .6s cubic-bezier(.215, .61, .355, 1);
              }
            }

            time{
              color: v.$black;
              font-size: clamp(10px, 6px + 1vw, 12px);
              font-weight: 400;
              transition: all .6s cubic-bezier(.215, .61, .355, 1);
            }
            p{
              line-height: 1;
              color: v.$black;
              font-size: clamp(16px, 12px + 1vw, 18px);
              font-weight: 600;
              transition: all .6s cubic-bezier(.215, .61, .355, 1);
            }

            @include v.respond-to(xl) {
              
              &:hover {

                .news-block__wrap__loop__item__link__image{
                  img{
                    transform: scale(1.05);
                  }
                }

                time{
                  opacity: 0.6;
                }
                p{
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}
