// Single Servizi

@use "/assets/scss/variable/variable" as v;

.servizi-template {
  width: 100%;
  height: auto;
  padding: 90px 0 0 0;

  @include v.respond-to(xl) {
    padding: 110px 0 0 0;
  }
  @include v.respond-to(xxl) {
    padding: 120px 0 0 0;
  }

  .cards {
    width: 100%;
    padding: 70px 20px;
    background-color: v.$giallo-200;

    @include v.respond-to(xl) {
      padding: 140px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @include v.respond-to(xl) {
        gap: 60px;
      }

      &__title {
        color: v.$black;
        font-size: clamp(24px, 20px + 1vw, 36px);
        font-weight: 700;
        text-align: center;
      }

      &__list__item {
        height: auto;
        padding: 40px 20px 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        background-color: v.$giallo-300;
        border-radius: 16px;
        text-align: center;
        color: v.$black;
        font-size: clamp(14px, 10px + 1vw, 16px);

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          padding: 10px;
          background-color: hsla(0, 0%, 100%, 0.3);
          border-radius: 10px;
        }
      }

      &__list-mobile {
        display: flex;
        max-width: 100%;

        @include v.respond-to(md) {
          display: none;
        }
      }
      &__list-desktop {
        display: none;

        @include v.respond-to(md) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
        }
        @include v.respond-to(lg) {
          max-width: 90%;
        }
        @include v.respond-to(xl) {
          max-width: 80%;
        }
        @include v.respond-to(xxl) {
          max-width: 70%;
        }
      }
    }
  }
  .text-block {
    width: 100%;
    padding: 40px 20px;

    @include v.respond-to(md) {
      padding: 60px 0px;
    }
    @include v.respond-to(lg) {
      padding: 80px 0px;
    }
    @include v.respond-to(xl) {
      padding: 100px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include v.respond-to(xl) {
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
      }

      &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include v.respond-to(lg) {
          width: 55%;
          gap: 30px;
        }

        &__title {
          color: v.$black;
          font-size: clamp(26px, 22px + 2vw, 48px);
          font-weight: 700;
        }
        &__text {
          color: v.$black;
          font-size: clamp(16px, 12px + 1vw, 18px);

          p {
            padding-top: 20px;

            &:first-child {
              padding-top: 0;
            }
          }
          strong {
            font-weight: 700;
          }
          em {
            font-style: italic;
          }
          ul {
            padding-left: 20px;
            list-style: disc;

            li {
              padding-top: 10px;
            }
          }
          ol {
            padding-left: 20px;
            list-style: decimal;
          }
        }
      }
      &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include v.respond-to(lg) {
          width: 40%;
          padding-left: 30px;
          border-left: 1px solid v.$black;
          gap: 30px;
        }

        &__item {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__title {
            color: v.$black;
            font-size: clamp(18px, 14px + 1vw, 24px);
            font-weight: 700;
            text-transform: uppercase;
          }
          &__text {
            color: v.$black;
            font-size: clamp(14px, 10px + 1vw, 16px);
          }
        }
      }
    }
  }
  .appartamenti {
    width: 100%;
    padding: 40px 20px;

    @include v.respond-to(md) {
      padding: 60px 0px;
    }
    @include v.respond-to(lg) {
      padding: 80px 0px;
    }
    @include v.respond-to(xl) {
      padding: 100px 0px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      &__title {
        color: v.$black;
        font-size: clamp(20px, 20px + 1vw, 36px);
        font-weight: 700;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include v.respond-to(md) {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 30px;
        }
        @include v.respond-to(lg) {
          max-width: 90%;
        }
        @include v.respond-to(xl) {
          max-width: 80%;
        }

        &__item {
          width: 100%;
          height: auto;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          @include v.respond-to(md) {
            width: calc(50% - 15px);
          }

          &__image {
            width: 100%;
            height: auto;
            aspect-ratio: 4 / 3;
            border-radius: 10px;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }

          &__content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__adress {
              color: v.$black;
              font-size: clamp(16px, 12px + 1vw, 20px);
              font-weight: 700;
              text-align: center;
            }
            &__text {
              color: v.$black;
              font-size: clamp(14px, 10px + 1vw, 16px);

              p {
                padding-top: 20px;

                &:first-child {
                  padding-top: 0;
                }
              }
              strong {
                font-weight: 700;
              }
              em {
                font-style: italic;
              }
              ul {
                padding-left: 20px;
                list-style: disc;

                li {
                  padding-top: 10px;
                }
              }
              ol {
                padding-left: 20px;
                list-style: decimal;
              }
            }
          }
        }
      }
    }
  }

  .slider {
    width: 100%;
    padding: 60px 0;

    @include v.respond-to(md) {
      padding: 90px 0;
    }
    @include v.respond-to(lg) {
      padding: 100px 0;
    }
    @include v.respond-to(xl) {
      padding: 120px 0;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include v.respond-to(xl) {
        gap: 50px;
      }
    }
  }
}

.theme-viola {
  .cards {
    background-color: v.$viola-100;

    &__wrap {
      &__title {
        color: v.$black;
      }

      &__list__item {
        background-color: v.$viola-300;
        color: v.$white;

        .icon {
          svg {
            path {
              fill: v.$white;
            }
          }
        }
      }
    }
  }
  .appartamenti{
    background-color: v.$viola-200;
  }
}

.theme-fucsia {
  .cards {
    background-color: v.$fucsia-100;

    &__wrap {
      &__title {
        color: v.$black;
      }

      &__list__item {
        background-color: v.$fucsia-300;
        color: v.$white;

        .icon {
          svg {
            path {
              fill: v.$white;
            }
          }
        }
      }
    }
  }
  .appartamenti{
    background-color: v.$fucsia-200;
  }
}

.theme-verde {
  .cards {
    background-color: v.$verde-200;

    &__wrap {
      &__title {
        color: v.$black;
      }

      &__list__item {
        background-color: v.$verde-300;
        color: v.$black;

        .icon {
          svg {
            path {
              fill: v.$black;
            }
          }
        }
      }
    }
  }
  .appartamenti{
    background-color: v.$verde-200;
  }
}

.theme-giallo {
  .cards {
    background-color: v.$giallo-100;

    &__wrap {
      &__title {
        color: v.$black;
      }

      &__list__item {
        background-color: v.$giallo-300;
        color: v.$black;

        .icon {
          svg {
            path {
              fill: v.$black;
            }
          }
        }
      }
    }
  }
  .appartamenti{
    background-color: v.$giallo-200;
  }
}

.theme-blue {
  .cards {
    background-color: v.$blue-100;

    &__wrap {
      &__title {
        color: v.$black;
      }

      &__list__item {
        background-color: v.$blue-300;
        color: v.$white;

        .icon {
          svg {
            path {
              fill: v.$white;
            }
          }
        }
      }
    }
  }
  .appartamenti{
    background-color: v.$blue-200;
  }
}
