// Color

$black: #121212;
$white: #ffffff;
$gray: #6c757d;
$dark-gray: #545454;

// Blue
$blue-100: #e0e7ff;
$blue-200: #cbd8fb;
$blue-300: #7390dd;

// Fucsia
$fucsia-100: #f2e3ef;
$fucsia-200: #e8c9e1;
$fucsia-300: #b34d9c;

// Verde
$verde-100: #f4f8f1;
$verde-200: #ebf3e7;
$verde-300: #bbd5ae;

// Giallo
$giallo-100: #fdf9e2;
$giallo-200: #fcf4c5;
$giallo-300: #fdc553;

// Azzurro
$azzurro-100: #e0e7ff;
$azzurro-200: #cbd8fb;
$azzurro-300: #7390dd;

$viola-300: #6973ab;